.center{
    color: white;
    text-align: center;
    position: absolute;
    left: 40%;
    font-size: 43px;
}

.play-again-button{  
    font-family: 'ArcadeClassic';
    background: transparent;
    border: 0px;
    color: var(--color-primary);
    font-size: 35px;
    outline: none;    
    cursor: pointer;
}
.quit-button{
    bottom: 16px;
    left: 43px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}
.new-high-score{
    font-size: 21px;
}

.play-again{
    margin-top: 20px;
    margin-left: 17px;
}
.game-score{
    font-size: 33px;
}
.game-time{
    font-size: 47px;
}
.refresh-icon{
    font-size: 38px;
    position: absolute;
    left: -18px;
    bottom: 0px;
}