.score-board{
    width: 14%;
    padding: 1em;
    margin: 5px 20px;
    border: 1px solid;
    border-radius: 9px;
}
.scores{
    list-style: none;
    text-align: left;
    /* padding-left: 30%; */
    padding-top: 1em;
    line-height: 1.5em;
    color: white;
}
.personal-best{
    font-size: 11px;
    color: var(--color-primary);
    margin-bottom: -8px;
}