html {
  --color-primary: #ff5155;
  --color-secondary: #00435d

  ;
}

* {
  box-sizing: border-box;
}
.App-container {
  height: 100vh;
  text-align: center;
  background-image: url(./images/Group243.png),linear-gradient(black,var(--color-secondary));
  background-blend-mode: multiply;
  
  background-size: cover;
}
.App{
  color: var(--color-primary);
}

.background-image{
  position: absolute;
  left:0;
  z-index: -1;
}

.correct{
  color:#54ba18;
}
.incorrect{
  color:#445298;
}