html {
  --color-primary: #ff5155;
  --color-secondary: #00435d

  ;
}

* {
  box-sizing: border-box;
}
.App-container {
  text-align: center;
  background-image: url(./images/background.png);
  background-size: cover;
}
.App{
  color: var(--color-primary);
}

.background-image{
  position: absolute;
  left:0;
  z-index: -1;
}

.correct{
  color:#54ba18;
}
.incorrect{
  color:#445298;
}